# Ignore virtual environment
mental_health_env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database files
*.db

# Environment variables
.env
.env.*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
# Virtual environment
mental_health_env/

# Byte-compiled / op.\mental_health_env\Scripts\activate
timized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
